$primary: #6b0af0;
$secondary: #6154ab;
$darkGrey: #333;
$success: #008800;
// $success: #00cc44;
$darkBackground: #242424;
$black: #000;
$white: #fff;
$default: #f0c002;
$defaultFaded: lighten($default, 35%);