$primary: #6b0af0;
$secondary: #574A96;
$darkGrey: #333;
$success: #28A745;
// $link: #00cc44;
$link: #743CC8;
$darkBackground: #242424;
$black: #000;
$white: #fff;
$default: #f0c002;
$defaultFaded: lighten($default, 35%);
$tursh: #dd4a4a;
$red: #dd4a4a;
$quad: #00ff55;